.cell{
    display: "flex";
    align-items: "center";
    justify-content: "center";
    width: 25px;
    height: 25px;
    border: 2px solid #a8a8a8;
}

.seq-active{
    border: 2px solid #ff0000
}

